<% if logged_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light box-s-primary bg-white h-72-px px-5">
  <div class="container px-5">
    <%= link_to "/home", class:"navbar-brand" do %>
      <%= image_tag("opener-icon2.png", :size => "37x37", :crop => :fill) %>&nbsp;&nbsp;
      Opener
    <%end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <%= link_to new_article_url do %>
            <%= material_icon.edit %>
          <%end %>
        </li>
        <li class="nav-item mx-2">
          <%= link_to articles_path do %>
            <%= material_icon.comment %>
          <%end %>
        </li>
        <li class="nav-item mx-2">
          <%= link_to bookmarks_index_path do %>
            <%= material_icon.bookmark_border %>
          <%end %>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <img crop="fill" class="img-sha mx-2 dropdown-toggle"
                 src="/assets/male-user-b680d8e72dedb798709ef1c75a2318002e65fa1da67ff43db9947ff96a935bf1.png"
                 width="40" height="40" data-toggle="dropdown">
              <span class="caret"></span></button>
            <ul class="dropdown-menu box-s-primary b-rad-10px p-3">
              <li><span>New story</span></li>
              <li><span>Profile</span></li>
              <li><span>Log out</span></li>
            </ul>
          </div>

          <%#= link_to "Log out", logout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%end %>